@model Killerapp.ViewModels.Order.PickChairViewModel
<div class="row">
    <div class="col-lg-12">
        <div class="movieDetails">
            <img src="~/images/image1.jpg" />
            <ul>
                <li>Moviename</li>
            </ul>
            <h2></h2>
            <input type="number">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="movieHall">
            <div class="grid-container">
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
                <div  class="grid-item"><img src="~/images/cinemaChair.jpg" /></div>
            </div>
        </div>
    </div>
</div>