@model Killerapp.ViewModels.AdminViewModels.MakeShowViewModel
@using Models
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-3">
        <div class="cinemalist">
            <ul>
                @foreach (Cinema cinema in Model.Cinemas)
                {
                    <li><a id="@cinema.Name" onclick="getShows(this.value)">@cinema.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div id="shows" class="showtimes">
            <h2>Shows will be displayed here</h2>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        
    </script>
}


